/*Colors:
Dark slate gray: #27474E
Vanilla: #E1D89F
Old rose: #CD8B76
Sky magenta: #C45BAA
Plum: #7D387D
*/

/*Global styles
------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #27474E;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-family: "Kalam";
}

h2 {
    margin: 0;
    font-family: "Noto Sans";
}

h3 {
    font-family: 'Noto Sans', sans-serif;
}

 img {
    width: 300px;
 }

 a {
    color:#E1D89F
 }

 a:hover {
    text-decoration: none;
 }

 .content-wrap {
    width: 800px;
    margin: 0 auto;
 }

/*Profile styles
------------------------*/

header {
    background-color: #C45BAA;
    margin: 0;
}

/*Projects styles
------------------------*/

.projects {
    background-color: #E1D89F;
}

.projects a {
}

.projects .btn {
    color: #e1d89f;
    background-color: #C45BAA;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background:#CD8B76;
}

.project-item img {
    float: left;
}

/*Work Experience styles
------------------------*/

.work-experience {
    background-color: #CD8B76;
}

/*Education styles
------------------------*/
.education {
    background-color: #C45BAA;
}

/*Contact styles
------------------------*/
footer {
    background-color:#E1D89F;
    color:#27474E
}

footer a {
    color:#27474E
}